[mysqld]

#Default
user=root

datadir=/var/lib/mysql
tmpdir=/tmp
socket=/run/mysqld/mysqld.sock
pid-file=/run/mysqld/mysqld.pid

#Networking
bind-address=0.0.0.0
port=3306

#Error logging
long_query_time=1
log-error=/var/log/mariadb/mariadb.log
slow_query_log=1
slow_query_log_file=/var/log/mariadb/slow-query.log

#Disable remote root login
skip-networking=0
skip-grant-tables=0

#Time
default-time-zone=SYSTEM

#Charset
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

#Performance
max_connections=100
table_open_cache=400
thread_cache_size=16
innodb_buffer_pool_size=128M
innodb_log_file_size=64M
key_buffer_size=16M
